<ng-template #auth let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Auth</h4>
    </div>
    <div class="modal-body text-center">
        <div class="row justify-content-md-center">
            <div class="col-lg-6">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">E-mail</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Enter email" [(ngModel)]="email" name="email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" [(ngModel)]="password" name="password">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="submit()">Login</button>
    </div>
</ng-template>


<ng-template #deposit let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Deposit</h4>
    </div>
    <div class="modal-body text-center">
        <div class="row justify-content-md-center">
            <div class="col-lg-8">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Deposit</label>
                        <select class="form-select" [(ngModel)]="wallet" [compareWith]="compareByID" name="wallet">
                            <option *ngFor="let wallet of dataWallets.fiatWallet" [ngValue]="wallet">
                              {{wallet.total}} ({{wallet.currency.code}})
                            </option>
                        </select>
                    </div>
                    <div class="form-group mt-2">
                        <label for="bet" class="fw-bold">Quantia ({{wallet?.currency?.code}})</label>
                        <input type="text" class="form-control" id="amount" name="amount" mask="separator.0" thousandSeparator="." maxlength="8" inputmode="numeric"
                          [(ngModel)]="amount">
                      </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="makeDeposit()">Deposit</button>
    </div>
</ng-template>

<!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button> -->