<app-shared-toast></app-shared-toast>
<app-auth></app-auth>
<nav *ngIf="hasData()" class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="navbar-nav ms-auto">
    <button *ngIf="this.authUser" type="button" class="btn btn-danger me-3" (click)="logout()">Logout</button>
    <button *ngIf="!this.authUser" type="button" class="btn btn-danger me-3" (click)="login()">Login</button>
  </div>
</nav>

<div *ngIf="hasData()" class="container mt-5">

  <div class="row justify-content-md-center pt-5">
    <div class="col-12 text-center" *ngIf="!wasStarted">
      <h4>
        A partida vai começar em: <strong>{{startIn}}</strong>
      </h4>
    </div>
    <div class="col-12 col-lg-6 mb-3">
      <div>
        <div>
          Atualmente <strong>{{bets.length}}</strong> apostadores
        </div>
      </div>
      <div class="form-group" *ngIf="this.authUser">
        <label for="bet">Numero</label>
        <input type="text" class="form-control" id="bet" name="bet" mask="separator.2" maxlength="8" inputmode="numeric"
          [(ngModel)]="message">
      </div>
      <div class="d-grid gap-2 mt-3" *ngIf="this.authUser">
        <button class="btn btn-danger" type="button" (click)="startBet()" [disabled]="btnDisabled">Começar</button>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="text-center" *ngIf="showResult">
        <h3>Resultado da partida atual:</h3>
        <h1 [countUp]="result" [options]="formatCountUp" [reanimateOnClick]="false"></h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12" *ngIf="iBet">
      <!-- userIsProfited -->
      <div class="alert" [ngClass]="{' alert-success': userIsProfited, ' alert-danger' : !userIsProfited }">
        {{userIsProfited ? 'Voce ganhou' : 'Voce perdeu'}}
      </div>
    </div>
  </div>
  <div>

    <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs justify-content-center">
      <li [ngbNavItem]="1">
        <a ngbNavLink>Users current bet</a>
        <ng-template ngbNavContent>
          <div class="row">
            <div class="col-12">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">user</th>
                      <th scope="col">amount</th>
                      <th scope="col">number</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let bet of bets; index as i">
                      <th scope="row">{{ i + 1 }}</th>
                      <td>{{ bet.user.name }}</td>
                      <td>{{ bet.amount }}</td>
                      <td>{{ bet.number }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink>Last Games</a>
        <ng-template ngbNavContent>
          <div class="row">
            <div class="col-12"  *ngFor="let match of game.matchs; index as i">
              <h5>{{ match.createdAt | date: 'M/d/yy, h:mm a' }}</h5>
              <div class="card mb-4">
                <div class="card-body  text-center">
                  <div>
                    <h5 class="card-title">Resultado: <span class="card-text">{{ match.number }}</span></h5>
                  </div>
                  <div>
                    <h5 class="card-title">Seed:</h5>
                    <p class="card-text">{{ match.seed }}</p>
                  </div>
                  <div>
                    <h5 class="card-title">Hash:</h5>
                    <p class="card-text">{{ match.hash }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
</div>
<!-- <div>
  <div>
    <div>
      There are currently <strong>{{users}}</strong> users online. Start
      chatting!
    </div>
  </div>
  <div lines="none">
    <div *ngFor="let message of messages"> {{message}} </div>
  </div>
</div> -->
<!-- <div>
  <div>
    <textarea
      spellcheck="true"
      autocomplete="true"
      autocorrect="true"
      rows="1"
      class="chat-input"
      [(ngModel)]="message"
      placeholder="type message..."
      (keyup.enter)="addChat()"
    >
    </textarea>
      <button (click)="addChat()" slot="end" class="send-chat-button">
        SEND
      </button>
  </div>
</div> -->