<app-shared-toast></app-shared-toast>
<app-auth></app-auth>
<nav *ngIf="authUser" class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-nav ms-auto">
    <button type="button" class="btn btn-danger me-3" (click)="logout()">Logout</button>
  </div>
</nav>

<div *ngIf="authUser" class="container mt-5">
  <div class="row justify-content-md-center">
    <div class="col-12 col-lg-6 mb-3">
      <div>
        <div>
          Atualmente <strong>{{users}}</strong> usuarios online
        </div>
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Numero</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" mask="separator.2" maxlength="8" inputmode="numeric">
      </div>
      <div class="d-grid gap-2 mt-3">
        <button class="btn btn-danger" type="button">Começar</button>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="text-center">
        <h1 [countUp]="result" [reanimateOnClick]="false"></h1>
      </div>
    </div>
  </div>
</div>
<!-- <div>
  <div>
    <div>
      There are currently <strong>{{users}}</strong> users online. Start
      chatting!
    </div>
  </div>
  <div lines="none">
    <div *ngFor="let message of messages"> {{message}} </div>
  </div>
</div> -->
<!-- <div>
  <div>
    <textarea
      spellcheck="true"
      autocomplete="true"
      autocorrect="true"
      rows="1"
      class="chat-input"
      [(ngModel)]="message"
      placeholder="type message..."
      (keyup.enter)="addChat()"
    >
    </textarea>
      <button (click)="addChat()" slot="end" class="send-chat-button">
        SEND
      </button>
  </div>
</div> -->