<app-shared-toast></app-shared-toast>
<app-auth></app-auth>
<nav *ngIf="authUser" class="navbar navbar-expand-lg navbar-light bg-light w-100">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item me-3">
        <button type="button" class="btn btn-danger" (click)="logout()">Logout</button>
      </li>
    </ul>
  </div>
</nav>

<div>
  <div>
    <div>
      There are currently <strong>{{users}}</strong> users online. Start
      chatting!
    </div>
  </div>
  <div lines="none">
    <div *ngFor="let message of messages"> {{message}} </div>
  </div>
</div>
<div>
  <div>
    <textarea
      spellcheck="true"
      autocomplete="true"
      autocorrect="true"
      rows="1"
      class="chat-input"
      [(ngModel)]="message"
      placeholder="type message..."
      (keyup.enter)="addChat()"
    >
    </textarea>
      <button (click)="addChat()" slot="end" class="send-chat-button">
        SEND
      </button>
  </div>
</div>