/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
::ng-deep {
    .ngb-toasts {
        z-index: 999999999999 !important;
    }
}

.clickable { cursor: pointer; }
